# Maven
/target/
/*.iml
*.class
 
# Eclipse
.project
.classpath
.settings/
.metadata/
.recommenders/
bin/
 
# IntelliJ
.idea/
*.iws
*.iml
out/
 
# Logs, OS files, temp
*.log
.DS_Store
Thumbs.db
NUL
 
# Test / output
test-output/
reports/
 
# Git backup / local config
.git_backup/
.env
*.keystore
 
# Others
node_modules/
